<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skup książek i płyt winylowych - Unikat Antykwariat i Księgarnia</title>
  <meta name="description" content="Skup książek i płyt winylowych Unikat Antykwariat - Oferujemy uczciwą i profesjonalną wycenę Twoich książek i płyt winylowych na terenie Warszawy i okolic. Sprzedaj książki bez trudu i odbierz gotówkę za swoj księgozbiór już teraz!">
  <meta name="keywords" content="skup książek warszawa, skup książek, skup płyt winylowych, skup winyli, skup starych książek warszawa, skup książek warszawa Białołęka, antykwariat warszawa, skup komiksów warszawa, skup książek Mokotów, antykwariat Mokotów, sprzedaż książek" />
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="454ebdf7-9dde-4cac-bac1-a30a4775c96d" data-blockingmode="auto" type="text/javascript"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://unikatksiazki.pl/img/favicon.ico?1644835907">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
  <meta name="google-site-verification" content="YX7iyPGoQLpyzPnjAmWhMCWlZ4twHvTlBG_D-6ex_WM" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2PWYB8HGW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2PWYB8HGW6');
</script>
  <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10901490594"> </script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10901490594'); </script>
</head>
<body>
  <header id="navlist" class="primary-header">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="logo"><img src="images/logo.webp" alt="Skup książek Unikat Antykwariat" loading="lazy"></a>
        <button class="mobile-nav-toggle">
          <img class="icon-hamburger" src="images/icon-hamburger.svg" alt="menu-hamburger-icon" loading="lazy">
          <img class="icon-close" src="images/icon-close.svg" alt="close-menu-icon" loading="lazy">
          <span class="visually-hidden">Menu</span>
        </button>
        <nav class="primary-navigation" id="primary-navigation
        ">
          <ul role="list" class="nav-list">
            <li class="nav-item"><a class="nav-animation" href="#howitworks">Jak to działa</a></li>
            <li class="nav-item"><a class="nav-animation" href="#aboutus">O nas</a></li>
            <li class="nav-item"><a class="nav-animation" href="#rules">Zasady skupu</a></li>
            <li class="nav-item"><a class="nav-animation" href="#cd">Skup płyt winylowych</a></li>
            <li class="nav-item"><a class="nav-animation" href="#contact">Kontakt</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </header>

 {{ content | safe }}

<section id="contact" class="bg-secondary scroll-margin">
  <div class="three-columns container">
    <div class="footer-box">
      <h3 class="footer-title">gdzie nas jeszcze znajdziesz?</h3>
      <div class="footer-section">
        <div class="icon baseline"><img src="images/www.svg" alt="Antykwariat i księgarnia internetowa" loading="lazy"><a href="https://unikatantykwariat.pl">unikatantykwariat.pl</a></div>
        <div class="icon baseline"><img src="images/fb.svg" alt="Unikat Antykwariat Facebook" loading="lazy"><a href="https://pl-pl.facebook.com/unikatantyk/">@unikatantyk</a></div>
        <div class="icon baseline"><img src="images/instagram.svg" alt="Unikat Antykwariat Instagram" loading="lazy"><a href="https://www.instagram.com/unikat.ksiazki/">@unikat.ksiazki</a></div>
      </div>
    </div>
    <div class="footer-box">
      <h3 class="footer-title">masz pytanie? skontaktuj się z nami!</h3>
      <div class="footer-section">
        <span>E-MAIL</span>
        <span>skup@unikatantykwariat.pl</span>
        <span>bok@unikatantykwariat.pl</span>
        <span>TELEFON</span>
        <span>☎ +48 798 254 823</span>
      </div>
    </div>
    <div class="footer-box">
      <img src="images/image.webp" alt="" loading="lazy">
      <span>Masz pytania?</span>
      <button class="btn-white call-btn hidden show-from-bottom btn-mobile" type="button" onclick="window.location.href='tel:+48798254823'">ZADZWOŃ!</button>
      <button class="btn-white call-btn hidden show-from-bottom btn-desktop" type="button" onclick="window.location.href='mailto:skup@unikatantykwariat.pl'">NAPISZ DO NAS!</button>
    </div>
  </div>
</section>

<script defer src="js/main.js" ></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>