/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  z-index: 3;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-bg: #8e793e;
  --clr-accent: #8d1517;
  --clr-dark: #231f20;
  --clr-light: #e8e9eb;

  --offwhite: darken(white, 10%);
  --darkblue: rgb(50, 50, 60);
}

.container {
  --max-width: 1110px;
  --padding: 1.25rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

button {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 13px 33px;
  border: 3px solid transparent;
}

button:active {
  transform: translateY(3px);
}

button::after {
  border-radius: 3px;
}

button::before {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  color: var(--darkblue);
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--clr-accent);
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--darkblue);
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--clr-accent);
  opacity: 0;
  z-index: 99;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.btn-white {
  background-color: transparent;
  color: #fff;
}

.btn-white:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--clr-accent);
}

.btn-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  transition: opacity 0.3s, border 0.3s;
}

.btn-white:hover::before {
  opacity: 0;
}

.btn-white::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--clr-accent);
  opacity: 0;
  z-index: 99;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.btn-white:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

/* aminations */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show-from-bottom {
  transform: translateY(100%);
}

.show-from-left {
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.box:nth-child(2) {
  transition-delay: 300ms;
}

.box:nth-child(3) {
  transition-delay: 600ms;
}

/* navigation */

.primary-header {
  border-bottom: 2px solid #f6f6f6;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 20px 0px;
  transition: padding 0.25s;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-dark);
}

.nav-item {
  position: relative;
}

.nav-animation:hover{
  color: var(--clr-accent);
}

.nav-animation::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 2px solid var(--clr-accent);
  opacity: 0;
  z-index: 99;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.nav-animation:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.mobile-nav-toggle {
  display: none;
}

.logo img {
  height: 50px;
}

/* hero section */

.bg-img {
  height: 600px;
  width: 100%;
  background: url("../images/hero.webp") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-reverse {
  background: url("../images/tlo.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.hero {
  padding-top: 75px;
}

.hero-logo {
  height: 220px;
}

.hero-title {
  font-size: 75px;
  font-weight: 200;
  text-transform: uppercase;
  color: #262324;
  opacity: 0.95;
}

.call-btn {
  margin-top: 80px;
  cursor: pointer;
}

/* section */

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bg-primary {
  background-color: var(--clr-light);
  position: relative;
  overflow: hidden;
}

.bg-secondary {
  background-color: #313638;
  color: #eaeaea;
}

.section-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.big-section-header {
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-accent);
}

.text-side > p {
  text-align: left;
  padding-bottom: 2rem;
}

.two-columns > img {
  border-radius: 2%;
  /* box-shadow: 4.9px 9.8px 9.8px hsl(0deg 0% 0% / 0.35); */
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
}

.img-side {
  max-height: 500px;
  height: auto;
}

.locations {
  min-width: 100px;
}

.locations > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.phone-number {
  color: var(--clr-accent);
  font-size: 20px;
  font-weight: 700;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 4rem 3rem;
}

.box {
  text-align: center;
  border-radius: 2%;
  height: 100%;
  /* background: var(--clr-light); */
  border: 2px solid var(--clr-accent);
  padding: 2.5rem;
}

.box > p {
  text-align: left;
}

.box > h3 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.address-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.map {
  display: block;
  margin: auto;
}

.footer-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
}

.footer-box {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 2rem 0;
  text-align: center;
}

.footer-box > img {
  width: 50%;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer-box > span {
  font-size: 24px;
  font-weight: 400;
}

.footer-box:last-of-type {
  border: 2px solid var(--clr-accent);
  border-radius: 20px;
  padding: 5%;
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1.5em;
  width: 1.5em;
  fill: currentColor;
}

.icon.baseline,
.icon img {
  top: 0.05em;
  position: relative;
  margin-right: 3px;
}

.vinyl-img {
  position: absolute;
  left: 70%;
  top: 50%;
  height: 500px;
  opacity: 0.4;
  z-index: 1;
  border: 0;
  box-shadow: none !important;
}
.small-vinyl-img {
  position: absolute;
  left: -30px;
  top: -10px;
  height: 100px;
}

.secondary-header {
  min-height: 75px;
}

.scroll-margin {
  scroll-margin-block-start: 100px;
}

.btn-mobile {
  width: fit-content;
  display: none;
}

.btn-desktop {
  width: fit-content;
  display: flex;
  align-self: center;
}

@media (max-width: 50em) {
  .img {
    z-index: 10;
  }

  .hero {
    padding-left: 1rem;
  }

  .hero-logo {
    width: 60%;
    height: auto;
  }

  .bg-img {
    height: 70vh;
  }

  .hero-title {
    font-size: 9vw;
  }

  .primary-navigation {
    display: none;

    position: absolute;
    padding: 2rem;
    inset: 7rem 1rem auto;
    background: #f6f6f6;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05), 0 0 0 100vmax rgb(0 0 0 / 0.5);
  }

  .nav-list {
    display: grid;
    gap: 2rem;
    text-align: center;
    padding-left: 0;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .two-columns {
    display: block;
    padding: 2rem 1rem;
  }

  .three-columns {
    display: block;
    padding: 2rem 1rem;
  }

  .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .block-mobile {
    display: none;
  }

  .img-mobile {
    display: block;
    position: relative;
    margin: auto;
    z-index: 10;
  }

  .bg-reverse,
  .overlay {
    height: 700px;
  }

  .map {
    width: 100%;
  }

  #whats-next {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .btn-mobile {
    display: flex;
    align-self: center;
  }

  .btn-desktop {
    display: none;
  }
}
